.profile{
    position:fixed;
    right: 1em;
    top: 63px;
    width: 250px;
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.2);
    text-align: left;
    padding: 10px;
    z-index: 1;
}