 img {
    height: 150px;
    width: auto;
    margin-right: 1em;
    text-align: center;
  }

  .view{
    padding: 200px;
    background-color: #EEEEEE;
  }

  li{
    margin: 10px;
    padding: 50px;
    padding-left: 100px;
    align-content: center;
    background-color: #EDF1D6;
  }
