.items{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px;
    width: 400px;
    padding: 20px;
    margin-left: 500px;
    margin-right: 400px;
    display: flex;

}

img{
    margin-left: 350px;
    margin-top: 100px;
    max-width: 100%;
    max-height: 100%;
}

#name{
    
    padding: 20px;
}

.whole{
    padding-bottom: 150px;
    padding-top: 0px;
    padding-left: 150px;
    background-color:#F9F9F9;
}

.inner{
    display:inline-block;
    position: relative;
    margin-left: 250px;
    background-color: #FFFFFF;
}

.button{
    text-align: center;
    align-content: center;
}

image{
  
}
app-recommend{
    position:absolute;
    border-color: black;
    box-sizing: border-box;
}